Flask==1.0
Flask-Excel==0.0.7
lxml==4.6.3
pandas==0.25.2
openpyxl==2.5.4
pyexcel==0.5.15
requests==2.21.0
scikit-learn==0.21.3
SQLAlchemy==1.2.14
gunicorn==19.9.0
xlrd==1.1.0
XlsxWriter==1.2.2
pysqlite3